<div class="table-responsive container">
  <table class="table table-hover table-striped">
  <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor = "let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
  </tbody>
    </table>
</div> 
<app-posts></app-posts>