<div class="container">
  <h3>Posts list:</h3>
    <ul class="list-group posts">
          <li class="list-group-item" *ngFor = "let post of posts">
              <jce-post [post] = post></jce-post>          
          </li>
    </ul>
</div>